/* Product Image */
.product-image {
  width: 100%;
  max-width: 420px;
  border-radius: 32px;
}

/* Text */
.product-title {
  font-size: 48px;
  font-weight: 500;
  color: #1f2d1f;
}

.product-size {
  font-size: 22px;
  margin: 12px 0;
}

.product-description {
  font-size: 18px;
  line-height: 1.6;
  color: #3c4a3c;
  max-width: 480px;
}

.product-price {
  font-size: 32px;
  font-weight: 600;
}

.product-page-content {
    /* background-color: aquamarine; */
    /* height: 100vh; */
}

/* Mobile styles */

@media (max-width: 768px) {


  .product-title {
    font-size: 32px;
  }

  .product-size {
    font-size: 18px;
  }

  .product-description {
    font-size: 16px;
  }

  .product-price {
    display: none;
    /* font-size: 26px; */
  }

  .price-book-btn {
    /* display: none; */
  }

  .order-btn {
    display: none;
    font-size: 14px;
    padding: 8px 22px;
  }
  .product-image {
    margin-bottom: 32px;
  }

  .product-page-content {
    padding: 10px;
  }
  .right-content {
    margin-top: 0;
  }

}

/* Extra-small */

@media (max-width: 390px) {

  .product-title {
    font-size: 28px;
  }

  .product-description {
    font-size: 15px;
  }
  .product-page-content {
    padding: 10px;
  }

}

/* bottum sticky button Hidden by default */
.mobile-sticky-bar {
  display: none;
}

/* Mobile only */
@media (max-width: 768px) {

  .mobile-sticky-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 16px 20px;
    background: #000;

    z-index: 1000;
  }

  .mobile-price {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }

  .mobile-order-btn {
    background: #1e5b24;
    color: #fff;
    padding: 10px 26px;
    border-radius: 26px;
    font-size: 15px;
  }

  /* Prevent content hiding behind bar */
  body {
    padding-bottom: 90px;
  }
}

