*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Page background */
.purchase-wrapper {
  background: #eaf4dc;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

/* White card */
.purchase-container {
  background: #ffffff;
  border-radius: 32px;
  padding: 40px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  gap: 60px;
  align-items: center;
}


/* Selected product container */
.selected-product-box {
  background: #f1f9e6;
  border-radius: 16px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* Left side */
.selected-product-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Thumbnail */
.selected-product-image {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

/* Text */
.selected-product-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.selected-product-size {
  font-size: 13px;
  color: #666;
  margin: 2px 0 0;
}

/* Price */
.selected-product-price {
  font-size: 18px;
  font-weight: 600;
  color: #1f5d22;
}


/* Left form */
.purchase-form-area {
  flex: 1;
}

.purchase-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
}

/* Fields */
.form-field {
  margin-bottom: 20px;
}

.form-field label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.form-field span {
  color: red;
}

.form-field input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 0.7px solid #e0e0e0;
  font-size: 14px;
}

.form-field textarea {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 0.7px solid #e0e0e0;
  font-size: 14px;
}



/* Upload field look */
.upload-field input {
  background: #f9f9f9;
}

/* Submit */
.submit-btn {
  margin-top: 20px;
  background: #1f5d22;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 14px;
  width: 260px;
  font-size: 16px;
}

.submit-btn:hover {
  background: #174a1a;
}

/* Right QR */
.purchase-qr-area {
  text-align: center;
}

.qr-title {
  font-size: 16px;
  margin-bottom: 16px;
  color: #555;
}

.qr-box {
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 20px;
}

.qr-box img {
  width: 180px;
  height: auto;
}


@media (max-width: 768px) {
  .purchase-container {
    flex-direction: column;
    gap: 40px;
    padding: 30px 20px;
  }

  .submit-btn {
    width: 100%;
  }

  .qr-box img {
    width: 160px;
  }
}
