

.hero-section {
  /* min-height: 1200px; */
  background-color: #eaf4de;
}

.bannerheading {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.2;
  color: #1f4d1f;
}

.hero-text {
  margin-top: 20px;
  max-width: 520px;
  font-size: 16px;
  color: #4a5f4a;
}

.social-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  padding: 14px 24px;
  border-radius: 40px;
  width: fit-content;
  margin-top: 30px;
}

.social-card img {
  width: 40px;
  height: 40px;
}

.stats {
  text-align: center;
}

.stats strong {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.stats span {
  font-size: 12px;
  color: #777;
}

.hero-image {
  width: 404px;
  max-width: 100%;
}


/* booking-section */

.booking-section {
  background-color: #eaf4de;
  padding: 80px 0;
  font-family: 'Inter', sans-serif;
}

/* Heading */
.section-title {
  font-size: 42px;
  font-weight: 500;
  color: #1f3d1f;
}

.section-subtitle {
  max-width: 720px;
  margin: 12px auto 0;
  color: #5f6f5f;
  font-size: 16px;
}

/* Card */
.product-card {
  background: #ffffff;
  border-radius: 47px;
  padding: 8px;
  text-align: center;
  height: 100%;
}

.product-card img {
  width: 100%;
  border-radius: 40px;
  margin-bottom: 16px;
}

.product-card h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.product-card p {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 16px;
}

/* Button */
.book-btn {
  background-color: #1f5d1f;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: 14px;
}

.book-btn:hover {
  background-color: #184a18;
  color: #ffffff;
}


/* Available ecosystem  */

.available-section {
  background-color: #eaf4de;
  padding: 80px 0;
  font-family: 'Inter', sans-serif;
}

.ecosystem-item {
  width: 100%;
  
  /* background-color: #6b7b6b; */
}

/* Heading */
.section-title {
  font-size: 40px;
  font-weight: 500;
  color: #1f3d1f;
}

.section-subtitle {
  color: #6b7b6b;
  font-size: 16px;
  margin-top: 8px;
}

/* Image */
.eco-img {
  width: 75%;
  border-radius: 32px;
  
}

/* Content */
.eco-title {
  font-size: 36px;
  font-weight: 500;
  color: #1f3d1f;
}

.eco-size {
  font-size: 18px;
  margin: 10px 0;
}

.eco-desc {
  max-width: 480px;
  color: #5f6f5f;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Price + Button */
.eco-action {
  display: flex;
  align-items: center;
  gap: 16px;
}

.eco-price {
  font-size: 28px;
  font-weight: 500;
}

.order-btn {
  background-color: #1f5d1f;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: 14px;
}

.order-btn:hover {
  background-color: #598434;
  color: #ffffff;
}

@media (max-width: 768px) {

  .eco-img {
    /* padding: 12px; */
    margin-bottom: 30px;
  }

  .eco-title {
    padding: 0 12px;
  }

  .eco-size,
  .eco-desc,
  .eco-action {
    padding: 0 12px;
  }

}


